<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd"
                        > 
                        
    <!-- 1.配置数据库相关参数properties的属性：${url} -->
    <context:property-placeholder location="classpath:properties/jdbc.properties"/>
  	<!-- 2.数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >  
        <property name="driverClass" value="${jdbc.driver}" />  
        <property name="jdbcUrl" value="${jdbc.url}" />  
        <property name="user" value="${jdbc.username}" />  
        <property name="password" value="${jdbc.password}" />  

        <!-- 初始化连接大小 -->  
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}"/>  
        <!-- 连接池最大数量 -->  
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}"/> 
        <!-- 连接池最小数量 -->  
        <property name="minPoolSize" value="${jdbc.minPoolSize}"/>
        <!-- 连接池最大空闲 -->  
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}"/>  
        <!-- 获取连接失败后重连次数 -->
        <property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}"/>
        <!-- 关闭后不自动提交-->
        <property name="autoCommitOnClose" value="${jdbc.autoCommitOnClose}"/>  
        <!-- 获取连接超时时间 -->  
        <property name="checkoutTimeout" value="${jdbc.checkoutTimeout}"/>  
    </bean>  
</beans>  